#container{
background-color: rgb(156, 75, 65);
/* border: thickness, style, color */
 border: 5px solid black; 
/* border width,color are optional*/
/* border-width: 5px; 
border-style: solid;
border-color: black; */
/* border-bottom: 5px solid black;
border-right: 5px dotted rgb(203, 247, 11);
border-top: 5px dotted rgb(219, 226, 187);
border-left: 5px double rgb(219, 226, 187); ; */


/* padding: 30px;
padding-top: 30px;
padding-bottom: 50px;
padding-left: 10px;
padding-right: 25px; 
padding: 20px 50px 10px 30px;
*/

/* 1: all 4 sides */
/* 2: 1st value for top and bottom, 2nd value for left and right*/
/* 3: 1st value for top, 2nd value for left and right, 3rd value for bottom*/
/* 4(clockwise): top, right, bottom, left */



/* margin: 20px; */
/* margin-top: 30px;
margin-left: 40px;
margin-right: 10px;
margin-bottom: 20px;
margin: 50px 10px 50px 10px; */


/* NOTE: Padding will not accept negative values but margin will accept the negative values */
}
